/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .navbar li a {
    color: white !important;
} */
  
.card-body label,
h4 {
    color: #354c5c !important;
}

.input-white {
    background-color: #fefefe !important;
}

.main-class {
    margin-top: 70px;
    /* adjust this value to match the height of your navbar */
    padding-top: 20px;
    /* adjust this value as needed for your design */
}

.bluring {
    background-color: #ddd5 !important;
    backdrop-filter: blur(5px) !important;
    border: 1px solid #eee9;
}

.body-index {
    background-color: #F3EFEF;
}

.authback {
    background-image: url("../backgrounds/authback1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.authback1 {
    background-image: url("../backgrounds/authback1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.img-style1:hover img {
    transform: scale(1.04);
}

.img-style1 img {
    transition: transform 1s;
    /* border-radius: 5px; */
    /* height: 200px; */
    object-fit: cover;
}

.img-style1 {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.top-left {
    background-color: #ddd5 !important;
    backdrop-filter: blur(17px) !important;
    border: 1px solid #eee9;
    position: absolute;
    top: 8px;
    left: 16px;
  }

.img-style1 a {
    color: #F3EFEF;
}

/* .carousel-fit-image { */
/* display: flex; 
    justify-content: center; align-items: center; */
/* } */
.carousel-fit-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* XXlarge screens */
@media (min-width: 1400px) {
    .max-height-xxl {
        max-height: 205px;
        min-height: 205px;
    }

    .max-height-xxl2 {
        max-height: 278px;
        min-height: 278px;
    }

    .max-height-xxl3 {
        max-height: 427px;
        min-height: 427px;
    }
}

/* X-Large screens */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .max-height-xl {
        max-height: 175px;
        min-height: 175px;
    }

    .max-height-xl2 {
        max-height: 238px;
        min-height: 238px;
    }

    .max-height-xl3 {
        max-height: 427px;
        min-height: 427px;
    }
}

/* Large screens */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .max-height-lg {
        max-height: 145px;
        min-height: 145px;
    }

    .max-height-lg2 {
        max-height: 198px;
        min-height: 198px;
    }

    .max-height-lg3 {
        max-height: 300px;
        min-height: 300px;
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991.98px) {
    .max-height-md {
        max-height: 225px;
        min-height: 225px;
    }

    .max-height-md21 {
        max-height: 465px;
        min-height: 465px;
    }

    .max-height-md22 {
        max-height: 225px;
        min-height: 225px;
    }

    .max-height-md3 {
        max-height: 250px;
        min-height: 250px;
    }
}

/* Small screens */
@media (max-width: 767.98px) {
    .max-height-sm {
        max-height: 345px;
        min-height: 345px;
    }
}

#section-3:before {
    content: "";
    display: block;
    height: 80px;
    /* replace with the height of your fixed navbar */
    margin: -80px 0 0;
    /* set negative margin to move the section up */
}


.section-6 h2,
label {
    color: #F3EFEF !important;
}

input,
textarea {
    background-color: #F3EFEF !important;
}

.navbar {
    background-color: #354c5c !important;
}

.navbar a {
    color: #F3EFEF;
}
.navbar a:hover {
    color: #cba37e;
}

.sub-menu a {
    color: #354c5c;
    /* background-color: #F3EFEF; */
}
.sub-menu a:hover {
    color: #F3EFEF;
    background-color: #354c5c;
}

.drop-style{
    background-color: #F3EFEF;
}

.btn-style1 {
    border-radius: 0%;
    background-color: #354c5c;
    color: #f3efef;
    transition: background-color 0.3s ease;
}

.btn-style2 {
    background-color: #354c5c;
    color: #f3efef;
    transition: background-color 0.3s ease;
}

.btn-style2:hover,
.btn-style1:hover {
    background-color: #9e7f62;
    /* border: 1px solid #eee9; */
    border: 1px solid #354c5c31;
    /* border: 1px solid #9e7f62; */
    color: #fff;
}

.btn-style2:active,
.btn-style1:active {
    background-color: #653d1b !important;
    color: #fff !important;
    border: 1px solid #653d1b !important;
}

.btn-style2-reversed {
    background-color: #9e7f62;
    color: #354c5c;
    transition: background-color 0.3s ease;
}
.btn-style2-reversed:hover {
    background-color: #653d1b !important;
    color: #fff !important;
    border: 1px solid #653d1b !important;
}




.navbar-nav .nav-item.dropdown:hover>.dropdown-menu {
    display: block;
}

.vertical-menu a {
    background-color: #f3f3f3;
    color: #354c5c;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #354c5c;
    color: #f3f3f3;
}

.vertical-menu a.active {
    background-color: #354c5c;
    color: #f3f3f3;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show>.dropdown-toggle::after {
        transform: rotate(-90deg);
    }
}

@media only screen and (min-width: 492px) {

    .navbar-hover .collapse ul li {
        position: relative;
    }

    .navbar-hover .collapse ul li:hover>ul {
        display: block
    }

    .navbar-hover .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none
    }

    .navbar-hover .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none;
    }
}

.btn-style3 {
    background-color: #ffd166;
    color: #354c5c;
    transition: background-color 0.3s ease;
}

.btn-style3:active {
    background-color: #ffb347 !important;
    color: #f3efef !important;
}

.btn-style4 {
    background-color: #70a1d7;
    color: #f3efef;
    transition: background-color 0.3s ease;
}

.btn-style4:active {
    background-color: #4f81c7 !important;
    color: #f3efef !important;
}

.btn-style5 {
    background-color: #b30000;
    color: #f3efef;
    transition: background-color 0.3s ease;
}

.btn-style5:active {
    background-color: #800000 !important;
    color: #f3efef !important;
}

.btn-style3:hover,
.btn-style5:hover,
.btn-style4:hover {
    background-color: #e8e8e8;
    color: #354c5c;
    border: 1px solid #354c5c31;
}

.tab-style .nav-link{
    color: #354c5c;
}

.tab-style .active{
    color: #F3EFEF !important;
    background-color: #354c5c !important;
    border-bottom: none;
}

.tab-style .nav-link:hover{
    border: 1px solid #d7d7d8;
    background-color: #f3f3f3 ;
}

.tab-text-style .active{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    color: #354c5c !important;
    background-color: #f3f3f3 !important;
    border: 1px solid #d7d7d8;
}

.drop-style .dropdown-toggle::after {
    content: '';
    border-top: .3em solid transparent;
    border-right: none;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  
  
  
